.ourServices {
    width: 100%;
    margin-bottom: 300px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    &__box {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }

    &__box > h3 {
        font-size: 27px;
        font-weight: 600;
        line-height: 40px;
        color: var(--secondary-color);
    }
}