.topRatedProducts {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 250px;

    &__wrapper {
        display: flex;
        gap: 30px;
    }

    &__content {
        display: flex;
        gap: 25px;
        text-align: start;
    }

    h3 {
        font-size: 35px;
        font-weight: 600;
        line-height: 52px;
        color: var(--secondary-color);
        margin-bottom: 50px;
    }

    &__box > p{
        max-width: 195px;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        color: var(--secondary-color);
    }

    &__box > .card__rating {
        color: #f39c12;
        margin: 10px 0 20px 0;
    }

    &__box > .card__price{
        color: #FF4858;
        font-size: 18px;
        font-weight: bold;
    }

    &__box > .card__price del {
        color: #C1C8CE;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        margin-left: 10px;
    }
}